.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    
}

.phonebook {
    margin-right: 60px;
}

.title {
    margin-top: 0;
}

.contacts__title{
    margin-top: 10px;
}